# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/

# IDE
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite

# Model files (optional: you can choose to exclude)
*.pth
*.h5
*.pb
models/

# OS
.DS_Store
Thumbs.db